<div id="app">
	<div id="topbar">
		<div class="controls left">
			<span class="control" id="play">Playback</span>
			<span class="control" id="reset">Reset</span>
			<span class="control" id="setbg">Set BG</span>
			
			<select id="width">
				<option value="-1">Natural</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="4">4</option>
				<option value="8">8</option>
				<option value="16">16</option>
			</select>
		</div>
		<h1 class="right">paint</h1>
	</div>

	<div id="main">
		<aside id="sidebar"></aside>
		<div class="artistic">
			<canvas id="stage"></canvas>
		</div>
	</div>
</div>